.elements__like-button {
  margin: auto 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Group.svg);
}

.elements__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}